@font-face {
    font-family:'Raleway';
    src: url(Raleway-Regular.ttf);
}

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: black;
}
.wrapper {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    margin-bottom: 23px;
}

 /* Navigation*/

 #header .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .menu_nav 
 {
     display: flex;
     float: right;
 }

#logo
{
    flex-direction: row;
    align-items: baseline;
    margin-right: 15px;
}
.link_3 
{
    color: #0065fc;
    font-weight: bold;

}

nav ul 
{
    list-style: none;
    display: flex;
}
nav li 
{
    margin-right: 30px;
}

nav u {
    padding: 0;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

header ul li a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 40px;
    color: #0065fc;
  }
  
/*Section Recherche*/
h1
{
    margin: 0;
    padding: 0;
    text-align: left;
}

.search{
    display: flex;
    height: 40px;
    background: #F2F2F2;
    border-radius: 10px;
    align-items: center;
    float:left;
    margin-bottom: 20px;
  }
  
  .search i {
    padding: 0 15px;
  }
  
  .search input{
    height: 36px;
    border: none;
    padding: 0 10px;
    font-weight: bold;
  }
  
  .search button{
    background:#0065fc;
    color: #f2f2f2;
    font-weight: bold;
    border: none;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }

/****** Section FILTRES ********/

.filtres .wrapper{
    display: flex;
}

.fasfa-money-bill-wave {
      color: #0065fc;
  }
.filters div{
    display: inline-block;
    margin-right: 20px;
    border-radius: 37px;
    white-space: nowrap;
    border: 1px solid #F2F2F2;
    padding-right: 20px;
    cursor:pointer;
    font-weight: bold;
    font-size: 15px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
 .filters i {

    color: #0065fc;
    height: 40px;
    width: 40px;
    background-color: #deebff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
 }
.filtres p {
    margin: 0 15px 0 0;
    line-height: 40px;
}
 .info{
     display: flex;
     cursor:pointer
 }

 .fa-info {
    text-align: center;
    color: #0065fc;
    border-radius: 100%;
    height: 33px;
    width: 33px;
    border: solid 1px #F2F2F2;
    padding: 8px;
    box-sizing: border-box;
  }
.info p {
    padding-left: 10px;
    display: inline-block;
    font-size: smaller;
}
.filters div:hover {
    opacity: .5;
}
 /**** Section Hebergements ********/

 .hotel-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 25px 0 25px;
 }
 

.h {
    
    background-color: #F2F2F2;
    width: 62%;
    margin-right: 3%;
    border-radius: 15px;

}
.hotel img{
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 120px;
    object-fit: cover;

}
.hotel {
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    margin: 3%;
    box-shadow: #0000002b 0px 0px 8px 0px;
    width: calc(100% / 3 - 6%);

}

.hebergement .wrapper{
    display: flex;
}

.h h2 {
    padding: 15px 0 0 15px;
    font-weight: bolder;
    margin: 25px 15px 0 25px;
    cursor: pointer;
}
.plus{
    font-weight: bolder;
    margin: 15px 15px 0;
    cursor: pointer;
    padding: 0 15px 0 15px;

}
.bottom {
    margin: -13px 0 3px 3px;
    font-size: small;
}
/***** Système de notation *****/

.fa-star {
	color: #F2F2F2;
}

.fa-star.blue {
	color:#0065fc;
}

/***** Section Populaires *****/

aside
{
    flex: 1.2;
    position: relative;
    background-color: #fffefe;
    border-radius: 5px;
    padding: 0 40px 40px 40px;
     
}
aside h2 {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 15px;
    font-weight: bolder;
    cursor: pointer;
}
#populaires {
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 32%;
    
}

#populaires h2 i .fas{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.hp1, .hp2, .hp3 {
    
    width: 100%;
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0px 0px 20px 0px;
    height: 145px;
    box-shadow: 0 5px 16px #0000002b;
    margin-bottom: 10%;

}

.hp3 {
    margin-bottom: 0;
}
.hp1 img, .hp2 img, .hp3 img {
    background-color: white;
    float: left;
    width: 45%;
    height: 97%;
    border-radius: 15px 0 0 15px;
    margin: 2px 10px 2px 0px;
    object-fit: cover;
    cursor:pointer;

  }
  .pop_right h3{
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: -3%;
}

  .fa-chart-line {
    position: absolute;
    right: 20px;
    
  }

  .rating {
    color: #0065fc;
  }
  /*****Activités ********/

#Activités { 
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 60px;

}

.titre_activites {
    margin-bottom: 27px;
    font-size: large;
}
.activity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }
.a1, .a2, .a3, .a4, .a5, .a6{
    box-shadow: 0 0 20px #0000002b;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
}
.a1 img, .a4 img{
    width: 278px;
    height: 375px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.a2 img {
    width: 268px;
    height: 167px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.a3 img {
    width: 268px;
    height: 126px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.a5 img, .a6 img {
    width: 340px;
    height: 151px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activity h3 {
    margin: 15px;
}
.a2_a3, .a5_a6 {
    display: flex;
    flex-direction: column;
}

/******** Footer **********/

footer {
    background-color: #F2F2F2;
}

.a_propos, .nos_hebergements, .assistance {
    width: 33%;
}
.pied {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
