@font-face {
    font-family:'Raleway';
    src: url(Raleway-Regular.ttf);
}


body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: black;
    margin:0;
    padding: 0;
    font-size: 14px;
    
}
.wrapper {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    margin-bottom: 23px;
    padding: 0 20px;
    box-sizing: border-box; 
}

 /* Navigation*/

 #header .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
 }

 .menu_nav .suscribe a
 {
     color: #0065fc;
     font-weight: bold;
 
 }
 .menu_nav 
 {
     display: flex;
     float: right;
 }

#logo
{
    flex-direction: row;
    align-items: baseline;
    margin-right: 15px;
}

 
nav ul 
{
    list-style: none;
    display: flex;
}
nav li 
{
    margin-right: 30px;

}

nav ul {
    padding: 0;
    text-decoration: none;

}

a {
    color: black;
    text-decoration: none;
}

header li a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
    padding-top: 32px;
  }
  
/*Section Recherche*/
h1
{
    margin: 0;
    padding: 0;
    text-align: left;
}

.search{
    display: flex;
    height: 40px;
    background: #F2F2F2;
    border-radius: 10px;
    align-items: center;
    float:left;
    margin-bottom: 20px;
    
  }
  
  .search i {
    padding: 0 15px;
  }
  
  .search input{
    height: 36px;
    border: none;
    padding: 0 10px;
    font-weight: bold;
    font-size: 1em;
    
  }
  
  .search button{
    background:#0065fc;
    color: #f2f2f2;
    font-weight: bold;
    border: none;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    font-size: 1em;
  }
  .loupe i {
      display: none
  }
/****** Section FILTRES ********/

.filtres .wrapper{
    display: flex;
}

.fasfa-money-bill-wave {
      color: #0065fc;
  }
.filters div{
    display: inline-block;
    margin: 0 10px 20px;
    border-radius: 37px;
    white-space: nowrap;
    border: 1px solid #F2F2F2;
    padding-right: 20px;
    cursor:pointer;
    font-weight: bold;
    font-size: 0.93em;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
 .filters i {

    color: #0065fc;
    height: 40px;
    width: 40px;
    background-color: #deebff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
 }
.filtres p {
    margin: 0 15px 0 0;
    line-height: 45px;
    font-weight: bold;
}
.filters {
    margin-left: 20px;
}
 .info{
     display: flex;
     cursor:pointer
 }

 .fa-info {
    text-align: center;
    color: #0065fc;
    border-radius: 100%;
    height: 33px;
    width: 33px;
    border: solid 1px #F2F2F2;
    padding: 8px;
    box-sizing: border-box;
  }
.info p {
    padding-left: 10px;
    display: inline-block;
    
}
.filters div:hover {
    background-color: #0065fc;
    color: white;
}
 /**** Section Hebergements ********/

 .hotel-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 25px 25px 25px;
 }

.h {
    
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-right: 36px;
    width: 75%;
    

}
.hotel img{
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 120px;
    object-fit: cover;

}
.hotel {
    background: white;
     border-radius: 20px;
     padding: 5px;
     box-sizing: border-box;
     margin: 2%;
     box-shadow: #0000002b 0px 0px 8px 0px;
     width: calc(100% / 3 - 4%);

}

.hebergement .wrapper{
    display: flex;

}

.h h2 {
    padding: 15px 0 0 15px;
    font-weight: bolder;
    margin: 25px 15px 0 25px;
    cursor: pointer;
}
.plus{
    font-weight: bolder;
    margin: 15px 15px 0;
    cursor: pointer;
    padding: 0 15px 0 15px;

}
.bottom {
    margin: -5px 0 5px 10px;
    
    
}
.hotel h3 {
    margin: 5px auto;
}

.hotel p {
    margin: 5px auto;
}
/***** Système de notation *****/

.fa-star {
	color: #F2F2F2;
}

.fa-star.blue {
	color:#0065fc;
}

/***** Section Populaires *****/

aside
{
    position: relative;
    background-color: #fffefe;
    border-radius: 5px;
    padding: 0 40px 40px 40px;
     
}
aside h2 {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 15px;
    font-weight: bolder;
    cursor: pointer;
}
#populaires {
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 27%;
    
}

#populaires h2 i .fas{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.hp1, .hp2, .hp3 {
    
    width: 100%;
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0px 0px 20px 0px;
    height: 170px;
    box-shadow: 0 5px 16px #0000002b;
    margin-bottom: 10%;

}

.hp3 {
    margin-bottom: 0;
}
.hp1 img, .hp2 img, .hp3 img {
    background-color: white;
    float: left;
    width: 45%;
    height: 97%;
    border-radius: 15px 0 0 15px;
    margin: 2px 10px 2px 0px;
    object-fit: cover;
    cursor:pointer;

  }
  .pop_right{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: -10px;
    

}
.stars {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}
.pop_right p {
    margin-top: -13px;
}

  .fa-chart-line {
    position: absolute;
    right: 20px;
    
  }

  .rating {
    color: #0065fc;
  }
  /*****Activités ********/

#Activités { 
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;

}

.activity {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-column-gap: 36px;
}

.a1, .a2, .a3, .a4, .a5, .a6{
    box-shadow: 0 0 20px #0000002b;
    border-radius: 20px;
}
.a1 img, .a4 img{
    width: 100%;
    height: 395px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.a2 img {
    width: 100%;
    height: 167px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.a3 img {
    width: 100%;
    height: 126px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.a5 img, .a6 img {
    width: 100%;
    height: 151px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.activity h3 {
    margin: 15px;
}
.a2_a3, .a5_a6 {
    display: inline-grid;
    grid-row-gap: 36px;
}

/******** Footer **********/

footer {
    background-color: #F2F2F2;
}

.a_propos, .nos_hebergements, .assistance {
    width: 33%;
}
.pied {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

footer .wrapper{
    margin-bottom: 0;
}

/******** Responsive Design **********/


@media all and (max-width: 1089px){
   
    .hotel {
        padding: 3px;
    }
}
@media all and (max-width: 1072px){
    .hebergement .wrapper {
        flex-direction: column;

    }
    #populaires{
        width: 100%;
        order: 1;
        margin: 0 0 25px; 
    }
    .hebergement.hotel {
        flex-direction: row;
    }
    .h {
        width: 100%; 
        order: 2; 
    
    }
    .pop-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .hp1, .hp2, .hp3 {
        margin: 2%;
        width: calc(100% / 3 - 4%)
    }
    #populaires, .aside {
        padding: 0;
        padding-bottom: 20px;
    }
}
@media all and (max-width: 1045px){
    .activity {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-row-gap: 36px;
        
    }
}

@media all and (max-width: 927px){
    .hp1, .hp2, .hp3 {
        margin: 3%;
        width: calc(100% / 2 - 6%);
    }
        
    .hotel {
        background: white;
        border-radius: 20px;
        padding: 5px;
        box-sizing: border-box;
        margin: 2%;
        box-shadow: #0000002b 0px 0px 8px 0px;
        width: calc(100% / 2 - 4%);
    }
}
@media all and (max-width: 870px){
    
    body {
    font-size: 13px;
}
}

@media all and (max-width: 712px){
    
    .hp1, .hp2, .hp3 {
        height: 120px;

    }
    .hp1 img, .hp2 img, .hp3 img {
        width: 40%;
        height: 98%;
    }
    
}

@media all and (max-width: 642px){
    

    .hp1, .hp2, .hp3 {
        height: 130px;
    }

    
    .pied {
        padding: 18px;
    }
}
@media all and (max-width: 616px){

    .pied {
        padding: 18px;
    }
}
@media all and (max-width: 560px){

    
    .hp1, .hp2, .hp3 {
        margin: 2%;
        width: calc(100% - 4%);
    }
}
@media all and (max-width: 540px){

    .hotel {
        width: calc(100% - 4%);
    }

    .pied {
            padding: 3px;
    }
}
@media all and (max-width: 522px){

    .activity{
        grid-template-columns: repeat(1, 100%);
    }
    .activity img {
        height: 167px;
    }
}

@media all and (max-width: 508px){


    .pied {
        flex-direction: column;
        width: 100%;
        padding: 0; 
}
}
@media all and (max-width: 480px){

    li.suscribe {
        order: 1;
        width: 100%;
        text-align: right;
        padding: 20px 0;
    }
    nav li {
        order: 2;
        width: 50%;
        margin:0;
        text-align: center;
        border-bottom: 2px solid transparent;
        padding:20px 0;
        border-top: none;

    }
    .menu_nav {
        
        flex-wrap: wrap;
        width: 100%;
        padding:0;
        margin-top: -49px;
    }

    nav{
        width: 100%;
    }
    
    .menu_nav .suscribe a {
    
        width: 50%;
        text-align: center;
        display: block;
        float: right;
}
  
    li.suscribe:hover {
        border-bottom: none;
        
    }
    header li:hover {
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }
    header li a:hover {
        border-top: none;
        padding-top: 0;
    }

    .h {
        background-color: white;
    }


    #populaires {
        border-radius: 0;
    }

    aside .wrapper {
        padding-right: 0;
        padding-left: 0;
    }
    .hebergement .wrapper {
        padding: 0;
    }

    .foot_ {
        width: 100%;
    }

    .hotel-wrapper {
        margin: 0 auto;
        padding: 0 10px;
    }

    .plus {
        padding-bottom: 15px;
    }

    .hp1, .hp2, .hp3 {
        margin: 4%;
        width: calc(100% - 8%);
    }

    .search {
        width: 100%
    }
    .search input {
        height: 39px;
        width: inherit;
    }
    .loupe i {
        display: inline;
        color: white;
        background-color: #0065fc;
        padding: 16px;
        border-radius: 14px;
      }
    
    button {
        display: none;
      }

    .search{
        height: 45px;
        
        
      }
}